<md-nav-bar md-selected-nav-item="currentNavItem" aria-label="name">
    
    <md-nav-item md-nav-href="#!/movies" name="movies"><span class="navBtn">New Movie</span></md-nav-item>
    <md-nav-item md-nav-href="#!/favorites"><span class="navBtn">Genres</span></md-nav-item>
    <md-nav-item md-nav-href="#!/allFavorites"><span class="navBtn">All Favorites</span></md-nav-item>
    <md-nav-item md-nav-href="#!/chart"><span class="navBtn">Chart</span></md-nav-item>
  
    </md-nav-item>
  </md-nav-bar>

  