<md-container class="md-padding" layout-xs="column" layout="row" layout-align="center" layout-wrap>

        <div layout-margin="3" layout="row" layout="column" flex="20"  ng-repeat="fav in vm.newMovies.list">
        
        
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <!-- /5OdUzXuAWraszDFaPi7jYKTV4HV.jpg -->
            <!-- http://image.tmdb.org/t/p/w185//5OdUzXuAWraszDFaPi7jYKTV4HV.jpg -->
                     <img src="http://image.tmdb.org/t/p/w185/{{fav.url}}"> 
                  </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                  
                  <md-button ng-click="vm.deleteMovie(fav)">Delete</md-button>
                  <md-button ng-click="vm.deleteMovie(fav)">rate</md-button>
                </md-card-actions>
              </md-card>
            </div>
        
        
        </md-container>
