<div >
 
    <ng-input-container>
        <select name="repeatSelect" id="repeatSelect" ng-model="genre">
            <option ng-repeat="option in vm.genres.list" value="{{option}}">
              {{option.genre}}</option>
          </select>
    </ng-input-container>
</div>



<md-container class="md-padding" layout-xs="column" layout="row" layout-align="center" layout-wrap>

        <div class="background" layout-align="center" layout-margin="3" layout="row" layout="column" flex="20"  ng-repeat="fav in vm.newMovies.list">
        
        
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <!-- /5OdUzXuAWraszDFaPi7jYKTV4HV.jpg -->
            <!-- http://image.tmdb.org/t/p/w185//5OdUzXuAWraszDFaPi7jYKTV4HV.jpg -->
                     <img src="http://image.tmdb.org/t/p/w185/{{fav.url}}"> 
                  </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                  
                  <md-button ng-click="vm.deleteMovie(fav)">Delete</md-button>
                  <md-button ng-click="back">Boom</md-button>
                </md-card-actions>
              </md-card>
            </div>
        </md-container>
