<div layout-margin="8">
<md-input-container>
        <input type="text" ng-model="search" placeholder="Movie Title">
      </md-input-container>
      <md-button ng-click="vm.getMoviesApi(search); search = null;">Search</md-button>

  <md-container class="md-padding" layout-xs="column" layout="row" layout-align="center" layout-wrap>

    <div class="background2" layout-margin="3" layout="row" layout="column" flex="25" ng-repeat="movie in vm.movies.list">
        <!-- {{movie.poster_path}} -->
        
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch ng-show="!edit">
                
                    <md-card-title-media>
                     <img src="http://image.tmdb.org/t/p/w185/{{movie.poster_path}}">
                  </md-card-title-media>
                
                <md-card-actions layout="row" layout-align="end center">
                  <div layout="column">
                    <md-button ng-click="vm.addMovie(movie); edit = true" ng-show="!edit">favorite</md-button>
                <!-- <div>{{movie.genre_ids}}</div> -->
                
                <span flex layout-margin="3" >{{movie.release_date | date : format : timezone}} <strong>Rating</strong><span class="rate">{{movie.vote_average}}/10</span></span>
              
                <div layout-margin="3" flex>{{movie.overview}}</div>
              
                
                  </div>
                  <!-- <md-button>rate</md-button> -->
                </md-card-actions>
              </md-card>
            </div>
        
     
          </md-container>
    
    </div>
    
   